<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carfriend.Mapper.IPartakeMapper">
    <resultMap id="partake" type="com.carfriend.Domain.Partake">
        <id property="userID" column="userID"></id>
        <result property="partakeTime" column="partakeTime"></result>
        <association property="activity" javaType="com.carfriend.Domain.Activity">
            <id property="id" column="id"></id>
            <result property="activityName" column="activityName"></result>
            <result property="activityAddress" column="activityAddress"></result>
            <result property="activityTime" column="activityTime"></result>
            <result property="activityNumber" column="activityNumber"></result>
            <result property="activityDescribe" column="activityDescribe"></result>
            <result property="userID" column="userID"></result>
        </association>
    </resultMap>

    <select id="FindPartakeByUser" resultMap="partake">
        select partake.userID,activityID,partakeTime,activityName,activityAddress,activityTime,activityNumber,
               activityDescribe,activityState
        from partake join activity a on partake.activityID = a.id
        where partake.userID=#{userID}
    </select>
</mapper>