<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carfriend.Mapper.IPartakeMapper">
    <resultMap id="partake" type="partake">
        <id property="id" column="id"></id>
        <result property="userID" column="userID"></result>
        <result property="partakeTime" column="partakeTime"></result>
        <association property="activity" column="activityID" javaType="com.carfriend.Domain.Activity">
            <id property="id" column="id"></id>
            <result property="activityName" column="activityName"></result>
            <result property="activityAddress" column="activityAddress"></result>
            <result property="activityTime" column="activityTime"></result>
            <result property="activityDescribe" column="activityDescribe"></result>
        </association>
    </resultMap>


    <select id="FindPartakeByUser" resultMap="partake" parameterType="string">
        SELECT p.userID, p.activityID, p.partakeTime, a.id, a.activityName, a.activityAddress,
               a.activityTime, a.activityDescribe
        FROM partake p
                  JOIN activity a ON p.activityID = a.id
        WHERE p.userID = #{userID}
    </select>


</mapper>